.resorts {
    display: flex;
    flex-flow: column nowrap;
    align-items: flex-start;
}

.resorts-bar {
    background-color: #476970;
}

.resorts-header {
    display: flex;
    justify-content: space-between;
    font-size: 25px;
    font-weight: 700;
    margin-top: 15px;
    margin-bottom: 15px;
}

.resorts-headerTitle {
    margin-left: 2rem;
}

.resort-search {
    display: flex;
    justify-content: center;
    margin: 0.5rem 2rem;
}

.resort-dropdown {
    display: flex;
    justify-content: space-evenly;
    font-weight: 600;
    font-size: 20px;
    width: 200px;
    background-color: #476970;
}

.resort-dropdown a {
    color: white;
    text-decoration: none;
}

.resort-dropdown-content {
    top: 91px;
    position: absolute;
    color: white;
    font-size: 12px;
    font-weight: 0;
}

.resort-dropdown-content svg {
    margin-top: 10px;
    rotate: 270deg;
}

.resort-dropdown--align-left {
    display: flex;
    justify-content: space-between;
}

.resort-dropdown--align-left:hover {
    filter: brightness(0.9);
}


.resort {
    background-color: #C8CBB4;
    width: 95%;
    padding: 0.7rem;
    margin: 0.5rem;
}

.btn-top {
    display: none; /* Hidden by default */
    position: fixed; /* Fixed/sticky position */
    bottom: 20px; /* Place the button at the bottom of the page */
    right: 30px; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
    border: none; /* Remove borders */
    outline: none; /* Remove outline */
    background-color: red; /* Set a background color */
    color: white; /* Text color */
    cursor: pointer; /* Add a mouse pointer on hover */
    padding: 15px; /* Some padding */
    border-radius: 10px; /* Rounded corners */
    font-size: 18px; /* Increase font size */
}

.btn:hover {
    background-color: #555; /* Add a dark-grey background on hover */
}