.parks {
    display: flex;
    flex-flow: column nowrap;
    align-items: flex-start;
}
.parks-bar {
    background-color: #476970;
}

ol.breadcrumb {
    display: flex;
    justify-content: flex-end;
    margin: 0;
    list-style: none;
}

.breadcrumb li {
    padding-right: 35px;
}

.breadcrumb a {
    color: white;
    text-decoration: none;
}

.parks-header {
    display: flex;
    justify-content: space-between;
    font-size: 25px;
    font-weight: 700;
    margin-top: 15px;
    margin-bottom: 15px;
}

.parks-headerTitle {
    margin-left: 2rem;
}

.park-search {
    border-radius: .5rem;
    margin-right: 2rem;
}

.park {
    background-color: #C8CBB4;
    width: 95%;
    padding: 0.7rem;
    margin: 0.5rem;
}