@import url("https://fonts.googleapis.com/css2?family=Pacifico");
@import url("https://fonts.googleapis.com/css2?family=Kulim+Park:wght@200&display=swap");


.h1, h1 {
    font-family: "Open Sans", sans-serif;
    /* font-family: 'Pacifico'; */
    font-size: 5.5rem;
    font-weight: bolder!important;
    color: #2F4858;
}

h2 {
    font-family: 'Kulim Park', sans-serif;
}

fieldset {
    min-width: 0;
    padding: 1rem 0;
    margin: 0;
    border: 0;
}

header.masthead {
    padding-top: 0;

    /* background: -webkit-gradient(linear,left top,left bottom,from(rgba(250, 235, 215, 0.8)),to(rgba(250, 235, 215, .8))),url('./images/bg-image1.webp');
    background: linear-gradient(to bottom, rgba(250, 235, 215, .8) 0, rgba(250, 235, 215, .8) 100%),url('./images/bg-image1.webp'); */

    background: -webkit-gradient(linear,left top,left bottom,from(rgba(200, 203, 180, 0.8)),to(rgba(200, 203, 180, .8))),url('./images/bg-image1.webp');
    background: linear-gradient(to bottom, rgba(200, 203, 180, .8) 0, rgba(200, 203, 180, .8) 100%),url('./images/bg-image1.webp');

    /* background: -webkit-gradient(linear,left top,left bottom,from(rgba(150, 171, 154, 0.8)),to(rgba(150, 171, 154, .8))),url('./images/bg-image1.webp');
    background: linear-gradient(to bottom, rgba(150, 171, 154, .8) 0, rgba(150, 171, 154, .8) 100%),url('./images/bg-image1.webp'); */

    background-position: center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
    height: 100%;
}

@media (min-width: 992px) {
    header.masthead {
        height: 100vh;
        min-height: 40rem;
        padding-top: 0;
        padding-bottom: 0;
    }
}

hr {
    border: 0;
    border-top: 1px solid rgba(0, 0, 0, .1);
}

hr.divider {
    max-width: 3.25rem;
    border-width: 0.2rem;
    border-color: #2F4858;
}

.login-text {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-size: 1.5rem;
    text-align: center;
    color: black;
    font-weight: 500!important;
    margin-top: 0;
    margin-bottom: 3rem;
    box-sizing: border-box;
}

.form--login {
    display: inline-block;
    margin: 0 auto;
    text-align: left;
}

.form--login > fieldset > input[type="email"] {
    width: 25em;
}

.form--signIn {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
}

.form--signIn > fieldset > input[type="email"] {
    width: 25em;
}

.label--login {
    width: 8rem;
    display: inline-block;
}

.form-control {
    display: block;
    width: 94%;
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .50rem;
    -webkit-transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.container--login {
    text-align: center;
    
}

.form--login {
    background-position-x: right;
    z-index: 1;
    min-height: 25rem;
    min-width: 45rem;
    background-blend-mode: overlay;
    background-repeat: no-repeat;
}

.button--close {
    position: relative;
    bottom: -2rem;
}

